# NPM
node_modules
.turbo

# MAC OS
.DS_Store

# BUILD OUTPUT
dist
dist-ssr
build/

*.local

# TESTS OUTPUTS
cypress/videos
cypress/screenshots

# IDE / Artifacts
.husky/
.idea/
.vscode/

.eslintcache
/test-results/
/playwright-report/
/playwright/.cache/
tests/storage-state.json
