{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^@polyflix/(.*)$",
    "^@core/(.*)$",
    "^@auth/(.*)$",
    "^@videos/(.*)$",
    "^@users/(.*)$",
    "^@theme/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
