@keyframes fade_zoom_annimation {
  0% {
    transform: scale(0.9);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@mixin fade_zoom($time: 300ms) {
  animation: fade_zoom_annimation $time normal cubic-bezier(0, 1.2, 0.9, 1.2);
}
