/* Public Sans */
@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-SemiBoldItalic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../assets/fonts/public-sans/PublicSans-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}
