$color-primary: #0a0a0a;
$color-secondary: #1d1b1b;
$color-white: #ffffff;

$ghost_color--dark: $color-primary;
$ghost_color--light: #181818;

$margin: 1rem;
$padding: 1rem;

@keyframes ghost_animation {
  0% {
    background-position: 20%;
  }
  100% {
    background-position: -25%;
  }
}

@mixin ratio_16-9 {
  padding-top: 56.25%;
  position: relative;
}

@mixin background_gradient {
  background: $ghost_color--dark;
  background-image: linear-gradient(
    90deg,
    $ghost_color--dark 0px,
    $ghost_color--light 55px,
    $ghost_color--light 60px,
    $ghost_color--dark 80px
  );
  background-size: 100vw;
}

@mixin horizontal_animate_ghost($animation-duration: 2000ms) {
  @include background-gradient;
  animation: ghost_animation $animation-duration infinite linear;
}

.paper {
  background-color: $color-primary;
  border: 1px solid $color-secondary;
  border-radius: 5px;
}

.paper_ghost {
  background-color: $color-primary;
  border-radius: 5px;
  @include horizontal_animate_ghost;
}

.ghost_line {
  @include horizontal_animate_ghost;
  display: block;
  background-color: $color-primary;
  border-radius: 3px;
  height: 0.8rem;
  width: 90%;
  &__accent {
    height: 1rem;
    margin-bottom: $margin;
    width: 100%;
  }
}

.root {
  padding: $padding;
  padding-top: 4 * $padding;
  box-sizing: border-box;
  max-width: 2000px;

  display: grid;
  grid-template-columns: 1fr clamp(350px, 25vw, 500px);
  gap: $margin;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  & > :is(section, aside) {
    width: 100%;

    .player_container {
      @include ratio_16-9;
      .player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .tab_group {
      margin-bottom: $margin;
      transition: height 250ms cubic-bezier(0.5, 0, 0, 1);
      overflow: hidden;
      &.state_visible {
        height: 550px;
        transform: rotate(0deg);
      }
      &.state_hide {
        height: 40px;
        button svg {
          transform: rotate(-180deg);
        }
      }

      .toggle_btn {
        background-color: $color-secondary;
        svg {
          transition: transform 250ms cubic-bezier(0, 1.5, 1, 1.5);
        }
      }

      .tab {
        background-color: $color-secondary;
        position: relative;
        height: 40px;
        box-sizing: border-box;
        $size: 2px;

        &::after {
          transition: width 250ms cubic-bezier(0.5, 0, 0, 1);
          content: "";
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          bottom: 0;
          width: 50%;
          height: $size;
          background-color: $color-white;
          opacity: 0;
        }

        &.active {
          &::after {
            width: 100%;
            opacity: 0.5;
          }
        }
      }
    }

    .suggestion_list {
      display: flex;
      flex-direction: column;
      & > * + * {
        margin-top: $margin;
      }
      .video_ghost {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        gap: $margin / 2;
        box-sizing: border-box;
        padding-right: $padding;

        .thumbnail {
          @include ratio_16-9;
        }
        .text_ghost {
          & > * + * {
            margin-top: $margin / 2;
          }
        }
      }
    }
  }
}
