@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .h-screen-50vh {
    height: 50vh;
  }
  .min-h-500 {
    min-height: 500px;
  }
  .w-fit {
    width: fit-content;
  }
}

@layer utilities {
  @variants hover {
    .opacity-important {
      opacity: 1 !important;
    }
  }
}

@import "./fonts";
@import "~@vime/core/themes/default.css";
@import url("https://unpkg.com/easymde/dist/easymde.min.css");

html {
  scroll-behavior: smooth;
}

video {
  &:focus {
    outline: none;
  }
}

.editor-toolbar {
  @apply bg-nx-white;
}
.font-normal-i {
  font-weight: normal !important;
}
